:root{
    .dark .VPFeature {
    position: relative;
    border-radius: 12px;
    overflow: hidden
}

.dark .VPFeature:before {
    content: "";
    display: block;
    position: absolute;
    background: radial-gradient(var(--color), transparent, transparent);
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    opacity: 0;
    transition: opacity 1s
}

.dark .VPFeature:hover:before {
    opacity: 1;
    transition: opacity .3s
}

.dark .VPFeature:after {
    position: absolute;
    content: "";
    display: block;
    background-color: #222c;
    z-index: 0;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 10px
}

.dark .VPHomeFeatures .VPFeature>.box {
    position: relative;
    z-index: 1
}
}